.header{
    position: fixed;
    right: 30px;
    top: 30px;
    .menu{
        max-width: 400px;
        height: 650px;
        // max-width: 300px;
        background-color:#4ade80;
        border-radius: 25px;
        position: relative;
    }
}