.header{
    position: fixed;
    right: 30px;
    top: 30px;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#4ade80;
        border-radius: 25px;
        position: relative;
    }
}